.card {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 20rem;
    background-color: #fbfbfb;
    position: relative;
}

.card-image {
    width: 100%; 
    border-radius: 5px; 
}

.promo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 7%;
    background-color: #fd3333;
    color: white;
    padding: 2px;
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 0px;
    border-radius: 5%;
}

.promo p {
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: flex; 
    margin: 15px;
}

.service-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
}

.service-card-image {
    width: 100%;
    aspect-ratio: 4 / 3; 
    object-fit: cover; 
    border-radius: 8px 8px 0 0;
}

.service-card .card-content {
    flex-grow: 1; 
}