.card {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 20rem;
    background-color: #fbfbfb;
    position: relative;
}

.card-image {
    width: 100%; 
    border-radius: 5px; 
}

.promo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 7%;
    background-color: #fd3333;
    color: white;
    padding: 2px;
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 0px;
    border-radius: 5%;
}

.promo p {
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
}

/* 1. Le lien devient un bloc Flex pour bien transmettre la hauteur et l'espacement */
.card-link {
    text-decoration: none;
    color: inherit;
    display: flex; 
    margin: 15px; /* C'est ça qui va décoller tes cartes ! */
}

/* 2. On s'assure que la carte s'étire parfaitement dans le lien */
.service-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Permet à la carte de prendre 100% de la hauteur du lien */
    margin: 0; /* On annule la marge ici, car c'est le lien au-dessus qui s'en charge */
}

/* 3. Le reste ne change pas */
.service-card-image {
    width: 100%;
    aspect-ratio: 4 / 3; 
    object-fit: cover; 
    border-radius: 8px 8px 0 0;
}

.service-card .card-content {
    flex-grow: 1; 
}