:root {
  --accent-color: #F7E7CE;
  --button-hover-color : #e1c9a3;
}

body.dark-mode {
  --accent-color: #f4cc8c;
  --button-hover-color : #e1c9a3;
}

body.water-mode {
  --accent-color: #76c9db;
  --button-hover-color: #2a879c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    background-color: var(--accent-color);
    color: #5a4a42;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--button-hover-color);
    color: #392e28;
}

.area-button {
    display: flex;
    justify-content: center;
}

.my-container {
    display: flex;
    height: 71.9vh;
    background-color: #fbfbfb;
    padding: 2%;
    /* flex-grow: 1; */
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center-container {
  display: flex;
  justify-content: center;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}